body{

    margin: 0;

    font-family: 'Montserrat', sans-serif;

    text-align: center;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.nav-bar,
.goals,
.aplications,
.team,
.outputs,
.scenarios,
.terapeuts,
.nav-exp-menu{

    width: 1200px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}

h1, h2{
    font-weight: 600;
}

section{
    margin-bottom: 30px
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}



header .nav-bar .logo-brainvr {
    max-height: 70px;
    max-width: 100%;
    margin-left: 0 !important;
}

header .logo-brainvr img {
    max-height: 70px;
    max-width: 100%;
}

header .logo-tacr img {
    max-height: 70px;
    max-width: 100%;
}

header .logo-nudz{
    max-height: 65px;
    margin-left: 10px;
    max-width: 100%;
}

header .logo-azv img{
    max-height: 60px;
    margin-top: -5px;
    max-width: 100%;
}


header .logo-nudz img {
    max-height: 65px;
    max-width: 100%;
}

header .logo-sic img {
    max-height: 65px;
    max-width: 100%;
}

header .logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

header .logos > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}



header .logos a{
    margin-left: 13px;
    
}

.nav-bar{
    display: flex;

    justify-content: space-between;

    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
}

.menu-icon {
    cursor: pointer;
    margin-left: 15px;
}


.menu-icon > img{
    width: 55px;
    margin-bottom: -5px;

}

.menu{
    display: flex;
    align-items: center;

}

.nav-exp-menu{
    display: none;
    margin-top: -8px;
    padding-bottom: 10px;
}

.nav-exp-menu > nav{
    display: flex;
    flex-direction: column;
    align-items: end;

    font-size: 20px;
    font-weight: 600;

    color: #2C3161;

    margin-right: 12px;
    margin-bottom: 12px;
}

.nav-exp-menu > nav > li {
    list-style: none;
    cursor: pointer;
    margin-top: 10px;
}

.nav-exp-menu > nav > li:first-child{
    margin-top: 0px;
}

.title-card{

    padding: 190px 20px;

    background-size: cover;

    color: #fff;
}

.title-card > h1{
    font-size: 80px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 25px;
}

.title-card > p{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0 15px;
}

main h2{
    font-size: 36px;
}

main{
    color: #2C3161;
}

.aplications{
    padding-bottom: 30px;
    background-color: #D9D9D9;

    width: 100%;

    margin-bottom: 0px;
}

.aplication-inner{
    width: 1240px;
    max-width: 100%;

    margin: auto;
}

.goals{
    margin-top: 20px;
    padding: 0 15px;
    box-sizing: border-box;
}

.goals-main-text{
    text-align: justify;
    font-size: 20px;
    color: #000;
}

.goals-grant-text{
    font-size: 18px;
    text-align: justify;
}

.goals-logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 60px;
}

.goals-logos .tacr{
    margin-right: 30px;
}

.stimulus-carousel p {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.stimulus-carousel-cont{
    max-width: 300px;
    width: 100%;
    margin: auto;
}

.slick-prev, .slick-next{
    top: 40% !important;
    right: -7px !important;
}

.slick-prev:before,
.slick-next:before {
    color: #2C3161 !important;
    font-size: 40px !important;
}

.slick-slide {
    height:200px;
    margin: auto;
 }
 
 .slick-slide img {
    height:215px;
    margin: auto;
 }

.scenarios-title{
    margin: 00px auto 40px auto
}

.scenarios{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.scenario-cont{
    width: 49%;
    margin-bottom: 15px;
}

.scenario-cont-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.scenario-cont-header .arrow{
    width: 20px;
    margin-right: 5px;
}

.scenario-cont .image-cont{
    position: relative;
}

.scenario-cont .play{
    position: absolute;
    width: 70px;

    left: calc(50% - 35px);
    top: calc(50% - 25px);

    fill: #fff;
    stroke: #fff;
}

.scenario-cont video{
    width: 100%;
}

.scenario-cont img{
    width: 100%;
}

.scenario-cont .text-cont{
    background-color: #2C3161;
    color: #fff;
    padding: 20px 20px;
    margin-top: -5px;
    text-align: start;
}

.scenario-cont .text-cont h3{
    margin-top: 0px;
    margin-bottom: 5px;
}

.scenario-cont .text-cont p{
    display: none;
    margin-top: 5px;
    margin-bottom: 0px;
}

.team-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member{
    width: 25%;
    text-decoration: none;
    color: #000;
}

.member img{
    max-width: 95%;
    width: 95%;
}

.outputs a{
    text-decoration: none;
}

.outputs a .publication-name{
    color: #2C3161;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.outputs a .publication-header{
    color: #3c3539;
    font-size: 16px;
    margin-top: 0px;

}

.outputs-subcategory{
    width: 100%;
    border-bottom: 3px solid #2c3161;
    margin-bottom: 0px;
}

.subcategory-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subcategory-header h3 {
    font-size: 22

}

.outputs-subcategory .arrow{
    width: 20px;
    margin-right: 5px;
}

.subcategory-list{
    display: none;
    text-align: start;
    margin-bottom: 5px;
}

.team h3{
    margin-bottom: 8px;
    color: #000;
    font-size: 22px;
}

.team .member-name{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.team .member-role{
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #2C3161;
    font-style: italic;
}

.contact{
    text-align: center;
}

.terapeuts p{
    font-size: 22px;
    color: #000;
}

.form-info{
    margin-bottom: 40px;
}

.form-show{
    padding: 15px 20px;

    
    font-size: 20px;

    background-color: #2C3161;
    border-radius: 5px;

    color: #fff;
    cursor: pointer;
    
}

.registration{
    display: none;
    width: 700px;
    max-width: 100%;
    margin: auto;
}

.terapeuts .requiredAsterix{
    margin-left: 2px;
    color: #ba0606;
}

.names-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-name-cont,
.last-name-cont {
    width: 49%;
}

.names-cont input{
    width: 100%;
}

.names-cont label{
    text-align: left;
    color: #000;
}

.registration label{
    font-weight: 700;
}

.registration label,
.registration input,
.registration select,
.registration textarea{
    display: block;

    width: 100%;
    
    box-sizing: border-box;

    font-size: 18px;
    color: #000;
}

.registration label{
    text-align: left;
    font-size: 18px;
    margin-top: 17px;
    margin-bottom: 5px;
    
}

.registration input,
.registration select,
.registration textarea{
    padding: 10px;
    border-radius: 0;
    border: 3px solid #2C3161;
    background-color: #fff;
}

.registration select{
    appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='40' viewBox='0 0 24 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% + 0px);
    background-position-y: 0.5px;
}

.pi-cont{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 440px;
    max-width: 100%;
    margin: 25px auto 0 auto;
}

.pi-cont label{
    margin: 0;
    padding-left: 10px;
}

.pi-cont input[type="checkbox"]{
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

.pi-cont input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #2C3161;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

.registration textarea{
    height: 80px;
    resize: vertical
}

.registration .form-submit{
    height: auto;
    width: 200px;

    margin: 30px 0 0 auto;

    background-color: #2C3161;
    color: #fff;

    border: none;
    border-radius: 12px;
    padding: 15px 0;
}

.registraion-complete{
    display: none;
    margin-top: 30;
}

.registraion-complete p{
    font-size: 18px;
}

footer{
    margin-top: 100px;
    width: 100%;
}

.top-footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #D9D9D9;
    padding: 25px 0;
}

.top-footer > a > img{
    margin-bottom: 25px;
    max-width: 95%;
    max-height: 95%;
}

.top-footer .logo-brainvr{
    margin-top: 20px;
    width: 250px;
}
.top-footer .logo-nudz{
    width: 270px;
    margin-top: 10px;
}
.top-footer .logo-cvut{
    width: 220px;
    margin-top: 30px;
}
.top-footer .logo-tacr{
    width: 230px;
    margin-top: 20px;
}
.top-footer .logo-sic{
    width: 320px;
    margin-top: 15px;
}

.top-footer .logo-azv{
    width: 320px;
    margin-top: 15px;
}


.cvut{
    max-width: 300px;
}

.bottom-footer{
    background-color: #2C3161;
    padding: 25px 0;
    color: #fff;
}



.bottom-footer{
    
}

.rotated {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
}

.flag{
    display: flex;
}

.flag > img{
    width: 20px
}

@media screen and (max-width: 900px) {
    .scenarios {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 550px;
    }

    .scenario-cont{
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    header .logos{
        flex-direction: column;
        align-items: start;
    }

    .logos-half-two{
        margin-top: 15px;
    }

    header .logos a:first-child {
            margin-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    .team-cont {
        max-width: 370px;
        margin: auto;
    }

    .member{
        width: 50%;
    }

    .goals-main-text{
        text-align: justify;
        font-size: 15px;
        color: #000;
    }

    .goals-grant-text{
        font-size: 13px;
    }
    
}

@media screen and (max-width: 446px) {
    .title-card {
        padding: 90px 20px;
      }
}